.SideBarRow{
    &:first-child{
        margin-top: 20px;
    }
    margin-top: 13px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    &:hover{
        background-color: #eff2f5;
        border-radius: 10px;
    }
    h3{
        margin-left: 20px;
        font-weight: 600;
    }
    .MuiSvgIcon-root{
        font-size: xx-large;
        color: #2e81f4;
    }
}